@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap');

body {
    color: #ffffff;
    background-color: #0f172a;
    font-family: "Noto Sans Mono", monospace;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #d7d7dc;
}

.main {
    min-height: 100vh;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5vh;
    font-size: 1.2rem;
}

.maintext {
    position: absolute;
    bottom: 7vh;
    left: 0;
    margin: 9vh;
    font-weight: 400;
    font-size: 2.5rem;
}

.email {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 9.4vh;
    font-weight: 400;
    font-size: 1.2rem;
}

.pages {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5vh;
}

.social {
    display: block;
    width: 24px;
    height: 24px;
}

@media (max-width: 480px) {
    .maintext {
        font-size: 1.5rem;
        margin: 6vh;
    }
    .logo {
        font-size: 1rem;
    }
    .email {
        font-size: 1rem;
        margin: 6vh;
    }
    .social {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .maintext {
        font-size: 2.2rem;
        margin: 6.5vh;
    }
    .logo {
        font-size: 1.5rem;
        margin: 5vh;
    }
    .email {
        font-size: 1.5rem;
        margin: 6.7vh;
    }
    .social {
        width: 30px;
        height: 30px;
    }
}

/*
@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: 
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
}

@media (min-width: 1201px) {

}
*/