@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap');

body {
    color: #ffffff;
    background-color: #0f172a;
    font-family: "Noto Sans Mono", monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #d7d7dc;
}

.main {
    min-height: 100vh;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5vh 10vh;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10vh;
}

.pages {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5vh 10vh;
}