body {
    color: #ffffff;
    background-color: #0f172a;
    font-family: "Noto Sans Mono", sans-serif;
}

.main {
    min-height: 100vh;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10vh;
}